{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block main %}
    {% if request.user.is_authenticated %}
        <h1>Hello, {{ request.user.first_name }} {{ request.user.last_name }}</h1>
        <h2>{{ request.user.username }}</h2>
    {% endif %}
    <a href="{% url 'tweet_create' %}">Create Tweet</a>
    {% if tweets.exists %}
        <div class="tweet-list">
            {% comment %} Include Tag: https://docs.djangoproject.com/en/3.1/ref/templates/builtins/#include {% endcomment %}
            {% for tweet in tweets %}
                {% include 'includes/tweet.html' with tweet=tweet %}
            {% endfor %}
        </div>
    {% else %}
        <h3>No tweets to present.</h3>
    {% endif %}
{% endblock %}